a {
  color: $link-color;
  text-decoration: none;
}

a.big-action {
  margin: auto;
  display: block;
  width: 160px;
  color: white;
  padding: 20px;
  font-weight: bold;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #fff;
  margin: 0;
  margin-top: 40px;
}

div.error, p.error {
  background: lighten($error-color, 40%);
  border-color: $error-color;
  padding: 1em;

  a:not(.pure-button) { color: darken($link-color, 20%); }
}

div.info, p.info {
  background: lighten($info-color, 44%);
  border-color: $info-color;
  padding: 1em;

  a:not(.pure-button) { color: darken($link-color, 20%); }

  &.big {
    padding: 2em;
    font-size: 1.2em;
  }

  h1, h2, h3, h4 {
    &:nth-of-type(1) { margin-top: 0; }
  }
}

.text-align-right {
  text-align: right;
}

.hidden {
  display: none;
}

.pure-button {
  i:nth-of-type(1) { vertical-align: sub; }
}

.pure-button-green {
  background: #8fc800;
  color: #fff;
}

.pure-button-active {
  background: #719811;
}
