.content.landing-page {
  .schedule {
    .topic {
      /*color: #5EAFF0;*/
      opacity: 0.5;
      font-weight: normal;
      font-size: 1.3em;
    }

    .date {
      padding-left: 10px;
      opacity: 0.25;
    }
  }
}

.content .speakers {
  width: 100%;
  overflow: hidden;
}

.content .speaker {
  padding: 10px;
  width: 150px;
  float: left;
  font-size: 1em;
  text-align: center;

  .description {
    float: left;
    font-size: 0.8em;
  }

  a.wrapper, img {
    background: #333;
    border-radius: 50px;
    width: 100px;
    border: solid black 1px;
    vertical-align: bottom;
    margin-bottom: 6px;
  }

  a.wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  i {
    font-size: 64px;
    display: block;
    height: 100px;
    width: 100px;
    padding: 16px;
  }
}
