table.definitions {
  tr {
    border-bottom: dashed #c0c0c0 1px;
  }

  td {
    padding: 10px 0;
    &:first-child {
      color: #34495e;
      font-weight: bold;
      white-space: nowrap;
      vertical-align: top;
      width: 150px;
    }
  }
}

table.schedule {
  tr {
    border-bottom: dashed #c0c0c0 1px;
  }

  td {
    padding: 10px 0;
    &:first-child {
      color: #34495e;
      font-weight: bold;
      white-space: nowrap;
      vertical-align: top;
      width: 150px;
    }
  }
}

table.full-width {
  width: 100%;
  border-spacing: 2px;
  border-collapse: separate;

  th, td {
    text-align: left;
    padding: 4px 0;
  }

  th {
    border-bottom: 1px solid #ddd;
  }

  .text-align-right {
    text-align: right;
  }
}

tr.total {
  td {
    border-top: 1px solid #ddd;
    border-bottom: 3px double #ddd;
  }
}
