body {
}

.header {
  height: 50px !important;
}

hr {
  border: 0;
  border-bottom: 1px dashed  #ccc;
  background: #fff;
  margin: 0;
  margin-top: 40px;
}

a {
  color: #6FBEF3 !important;
  text-decoration: none;
}
.home-menu {
    /*background: black;*/
  height: 60px;
}

.splash > img {
  width: 600px;
  height: auto;
}

.splash.for-profile > img {
  border-radius: 20px;
}

.mojoconf-logo {
  font-family: "myriad-pro",sans-serif;
  font-size: 2em !important;
  margin-top: -8px;
  text-transform: none !important;
}
 .mojoconf-logo a {
  color: #e1e1e1 !important;
}

.mojoconf-content-header {
  font-family: "myriad-pro",sans-serif;
  text-transform: none;
  margin-top: -50px;
}

.mojoconf-content-header h2 {
  text-transform: none !important;
  letter-spacing: 0;
  font-weight: bold;
  font-size: 3em;
}

.mojoconf-content-header h3 {
  padding: 0;
  margin: 0;
  /*opacity: 0.75;*/
  position: relative;
  top: -30px;
}

.content section {
  max-width: 620px;
  margin: auto;
  padding: 30px;
  margin-top: 0;
  padding-top: 0;
  overflow: hidden;
}

.content section h3 i.fa {
  margin-left: -30px;
  color: #6FBEF3;
  margin-right: 10px;
}

.content section h3 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: "myriad-pro",sans-serif;
  font-size: 1.7em;
}

.content section .speakers {
  width: 100%;
  overflow: hidden;
}
.content section .speaker {
  padding: 10px;
  width: 150px;
  float: left;
  font-size: 1em;
  text-align: center;
}
.content section .speaker .description {
  float: left;
  font-size: 0.8em;
}
.content section .speaker a.wrapper,
.content section .speaker img {
  background: #333;
  border-radius: 50px;
  width: 100px;
  border: solid black 1px;
  vertical-align: bottom;
  margin-bottom: 6px;
}
.content section .speaker a.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content section .speaker i {
  font-size: 64px;
  display: block;
  height: 100px;
  width: 100px;
  padding: 16px;
}

.content .accommodations iframe {
  float: right;
  border: solid #c0c0c0 1px;
}

.content .accommodations .hotel {
  width: 100%;
  overflow: hidden;
}

.content .accommodations .hotel {
  padding-bottom: 10px;
}

.eventbrite-tickets {
  border: 0;
  margin: 0;
  padding: 0;
  height: 400px;
  width: 100%;
}

form .field-row {
  clear: left;
  margin: 3px 0;
}

form .submit-row { margin-left: 30%; margin-top: 20px; }
form .field-row label { width: 30%; }

form .field-row label {
  line-height: 2em;
  float: left;
}

form .field-row input,
form .field-row textarea,
form .field-row select {
  background: #fbfbfb;
  border: 1px solid #bbb;
  border-radius: 3px;
  margin-left: 40%;
  width: 60%;
  padding: 6px 8px;
  margin: 0;
}

form .field-row input:focus,
form .field-row select:focus {
  border-color: #555;
  outline: 0;
}

form .field-row .field-with-error {
  background: #fdd;
  border-color: #a55;
}

.pure-button-connect {
  background: #8fc800;
  color: #fff !important;
}

table.full-width {
  width: 100%;
}

table.full-width th,
table.full-width td {
  text-align: left;
}

table.full-width th {
  border-bottom: 1px solid #ddd;
}
